*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #B91450;

}

h1, h2 {
  color: #fff;
  text-align: center;
  font-size: 28px;
}
/* misto */
.page-wrapper {
  max-width: 1180px;
  padding: 20px;
  margin: auto;
  height: 100px;
}

.btn {
  padding: 4px;
  margin: 0 20px;
  background-color: lightgrey;
  border: 1px solid grey;
  border-radius: 3px;
  font-size: 18px;
  font-weight: bold;
  color: #B91450;
}

.btn:hover {
  color: #fff;
  background-color: grey;
  cursor: pointer;

}

.row {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
}

.data-input {
  background-color: #fff;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #444;<option value="minorenen">Minorenne</option>

}

label {
  color: #B91450;
  margin-bottom: 15px;
}

input select {
  height: 30px;
  border: 1px solid #B91450;
  border-radius: 3px;
  font-size: 15px;
  text-align: center;
}

input::placeholder {
  text-align: center;
  font-size: 15px;
}

input:focus select:focus {
  background-color: #B91450;
  color: #fff;
}

input:focus::placeholder{
  color: #fff;
}

.display-none {
  display: none;
}

.biglietto {
  margin-top: 20px;
}

.biglietto-wrapper {
  background-color: #fff;
  padding: 20px;
}

.dati {
  display: flex;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.nome {
  background-color: grey;
  padding: 20px;
  }

  .offerta table th, offerta table td {
    padding: 20px;
  }

  tbody {
    text-align: center;
  }
